.card-title {
    line-height: 30px;
}

.card-home {
    width: 20%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

.card-img-home {
    height: 150px;
    padding: 30px 0;
    object-fit: contain;
}

.card-service-main {
    width: 35%;
}

.btn-service {
    all: unset;
    cursor: pointer !important;
    padding: 10px 20px;
    border: 1px solid black;
    transition: .3s;
}

.btn-service:hover {
  background-color: rgb(96, 96, 96);
  color: white;
}

@media (max-width: 769px) {
    .card-home {
        width: 80%;
        margin: 20px 0;
    }
}